body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: left;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}

p {
  color: #8f8f8f;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}

.container {
  width: 100%;
  padding: 10px;
  /* padding: 5% 10%; */
  text-align: center;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 2rem;
}

.logo {
  margin: auto;
}

/* Title */
#title {
  color: #93C22F;
}

.title-image {
  height: 100%;
}

.container-title-image {
  width: 100%;
}

.title-background {
  background-image: url(../images/Background.png);
  width: 100%;
  height: auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-text {
  width: 100%;
  margin: 0 auto;
}

.title-background img {
  width: 100%;
  height: auto;
  position: relative;
}

.container-download-button {
  width: 50%;
  padding-top: 30px;
  text-align: left;
}

#title .container {
  padding: 10px 10% 0px;
}

/* Features */
#features {
  background-color: #fff;
  position: relative;
}

#features h3 {
  text-align: center;
}

#features p {
  text-align: center;
}

.icon {
  color: #93C22F;
  margin-bottom: 1rem;
}

.feature-box {
  padding: 5%;
  text-align: center;
}

/* Description First */
#firstPage {
  position: relative;
}

#firstPage .container {
  padding: 10px 10% 0px;
}

.description-image-newday {
  height: 100%;
  margin: 0 auto 0 5%;
}

.description-first-background {
  height: 400px;
  background-color: #F6FAEF;
  border-radius: 16px;
  text-align: center;
}

.container-firstpage {
  margin: auto;
  padding: 5%;
}

/* Description Second Page */
#secondPage {
  position: relative;
}

#secondPage .container {
  padding: 10px 10% 0px;
}

.description-second-text {
  color: white;
  padding: 5%;
  margin: auto;
  border-radius: 16px 16px 16px 16px;
  background-color: #93C22F;
  background-repeat: no-repeat;
}

.white-text-p {
  color: white;
}

.container-image-monitoring {
  height: 600px;
  text-align: center;
  padding-left: 50px;
  padding-top: 30px;
}

.description-image-monitoring {
  position: relative;
  height: 100%;
}

/* Description Dark Mode */
#darkMode {
  position: relative;
}

.container-image-dark {
  height: 100%;
  text-align: center;
  bottom: 0;
}

.image-dark {
  width: 100%;
}

#darkMode .container {
  padding: 5% 10% 0px;
}

/* Footer */
#footer {
  position: relative;
  background-color: #93C22F;
}

#footer .container {
  padding: 10px 10% 10px;
}

.container-footer-download-button {
  margin: auto 0px 0px auto;
  text-align: right;
}

.footer-download-button {
  height: 0;
}

.footer-text {
  color: white;
  font-size: 0.9rem;
  margin-bottom: 0px;
}

.footer-mail-text {
  color: black;
  font-size: 0.9rem;
  line-height: 1.5;
}

.privacy-text-titles {
  color: #93C22F;
}

.container-privacy {
  margin: 5%;
}

/* Media query */
@media (max-width: 720px) {
<<<<<<< HEAD

=======
>>>>>>> 43781dc21b1345fefa88fc25bf06321865626cd6
  h1, h3 {
    text-align: center;
  }

  p {
    padding-left: 10px;
  }

  .container {
    padding: 10px;
  }

  .download-button {
    width: 100%;
  }

  .container-download-button {
    margin: auto;
    width: 60%;
    padding-bottom: 40px;
<<<<<<< HEAD
  }

  .description-first-background {
    height: 300px;
  }

=======
  }

  .description-first-background {
    height: 300px;
  }

>>>>>>> 43781dc21b1345fefa88fc25bf06321865626cd6
  .description-image-newday {
    text-align: right;
    padding-left: 10%;
    margin: auto;
  }

  .container-image-monitoring {
    height: 500px;
    padding-left: 25px;
  }

  .description-image-monitoring {
    height: 90%;
  }
}
